@*@using DAPM.Common.Helpers*@
@model DoAnPhanMem.Models.Account
@{
    ViewBag.Title = "Thanh toán đơn hàng";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    List<int> quans = ViewBag.Quans as List<int>;
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

    var listProduct = (List<DoAnPhanMem.Models.Product>)ViewBag.ListProduct;

    var discountPrice = Convert.ToDouble(ViewBag.Discount);
    var total = Convert.ToDouble(ViewBag.Total);    // Giá sau khi áp dụng mã giảm giá, được tính ở controller
    var price = total + discountPrice;  // giá gốc trước khi giảm
    var shippingFee = 30000d;           // Phí vận chuyển 30k
    total += shippingFee;

    //TempData["Total"] = total;
    var taiKhoan = HttpContext.Current.Session["TaiKhoan"] as DoAnPhanMem.Models.Account;

}

<style>
    .nice-select {
        display: none !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
@section scripts{
    <script src="~/Scripts/UserJS/address-manager.js"></script>
}
@if (taiKhoan != null)
{
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--black">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                    <li><a href="@Url.Action("ViewCart", "Cart")">Giỏ hàng</a></li>
                                    <li class="active" aria-current="page">
                                        Thanh toán
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...:::: End Breadcrumb Section:::... -->
    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="0">
                <form method="post" action="@Url.Action("SaveOrder", "Cart")">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h3>Thông tin nhận hàng</h3>
                            <div class="row">
                                    <div class="col-lg-6">
                                        <label style="font-weight:500">Họ tên người nhận <span class="text-danger">*</span></label>
                                        <div class="default-form-box">
                                            <input type="text" id="user-name" name="orderUsername" value="@taiKhoan.acc_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label style="font-weight:500">Số điện thoại <span class="text-danger">*</span></label>
                                        <div class="default-form-box">
                                            <input type="number" min="1" id="phone-number" name="orderPhonenumber" value="@taiKhoan.phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <label style="font-weight:500">Địa chỉ cụ thể <span class="text-danger">*</span></label>
                                        <div class="default-form-box">
                                            <input type="text" name="oder_address" id="content" value="@taiKhoan.address">
                                        </div>
                                    </div>
                                    <div class="col-12 ">
                                        <div class="order-notes">
                                            <label for="OrderNote" style="font-weight:500">Ghi chú đơn hàng</label>
                                            <textarea name="OrderNote" placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: những lưu ý đặc biệt khi giao hàng."></textarea>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3>Đơn đặt hàng của bạn</h3>
                            <div class="order_table table-responsive" style="overflow-x: hidden; border-left: 0.5px solid #0000001c; border-right: 0.5px solid #0000001c; border-top: 0.5px solid #0000001c;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Sản Phẩm</th>
                                            <th>Tổng Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < listProduct.Count(); i++)
                                        {
                                            var item = listProduct.ElementAt(i);
                                            var quan = quans[i];
                                            var price2 = item.price;
                                            int maxquantity = item.quantity;
                                            if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now)
                                            {
                                                price2 = item.price - item.Discount.discount_price;
                                            }
                                            <tr>
                                                <td style="max-width:500px!important;"> <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id">@item.pro_name <strong style="color: #3674ab;"> × @quan</strong></a></td>
                                                <td>
                                                    @{
                                                        double total3 = 0;
                                                        total3 = price2 * quan;
                                                    }
                                                    <span>
                                                        @total3.ToString("#,0₫", culture.NumberFormat)
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot style="font-weight:500">
                                        <tr>
                                            <th>Tạm tính</th>
                                            <td>@price.ToString("#,0₫", culture.NumberFormat)</td>
                                        </tr>
                                        <tr>
                                            <th>Giảm giá</th>
                                            <td>@discountPrice.ToString("#,0₫", culture.NumberFormat)</td>
                                        </tr>
                                        <tr>
                                            <th>Phí vận chuyển</th>
                                            <td>@shippingFee.ToString("#,0₫", culture.NumberFormat)</td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Thành tiền</th>
                                            <td style="font-size:20px;color:rgb(235, 33, 1);">@total.ToString("#,0₫", culture.NumberFormat)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_method">
                                <div class="order_button d-flex justify-content-end">
                                    <button class="btn btn-md btn-black-default-hover" id="save-order" type="submit">
                                        Đặt hàng ngay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div>
    <!-- ...:::: End Checkout Section:::... -->
}
